@charset "utf-8";
body {
	background: #f9f9f9;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.menu {
    top: 15px;
    width: 92%;
    height: 70px;
    margin: auto;
    background:	#bf0f1e;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
    border: 1px solid rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
}
.menu nav a:hover {
    color: #f9f9f9;
    transition: 0.2s;
	background: rgba(255,255,255,0.05);
}
.menu nav {
    display: flex;
    gap: 20px;
    align-items: center;
	color: #ffc300;
	margin-left:3% ;
}

.menu nav a {
    text-decoration: none;
    padding: 15px 20px;
    display: flex;
	color: #ffc300;
	float: right;
}
.titel {
    font-size: 23px;
    font-weight: 700;
    color:#e7b307;
}
.orb-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
    width: fit-content;
    margin: 100px auto;
}

.orb {
    display: flex;          
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
	flex-flow: column;	
}
.orb:hover {
    transform: scale(1.5);
}
a {
	color:#e7b307;
	text-decoration: none;
}
.hero {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 60px;
    color: white;
}

.hero h1 {
    font-size: 48px;
    color: #e7b307;
}

.hero p {
    font-size: 18px;
    color: #b3b3b3;
}
.alert {
    width: fit-content;
    margin: 40px auto;
    background: #ad0013;
    color: white;
    padding: 12px 25px;
    border-radius: 12px;
    font-weight: bold;
}
.profile {
    font-weight: bold;
	text-decoration: none;
    padding: 15px 20px;
    display: flex;
	color: #ffc300;
	float: right;
}
.page-title {
    background: none;
    border: none;
    color: #a67d43;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    padding: 25px;
    cursor: pointer;
    transition: 0.2s;
}
.dropdown-btn:hover {
    background: #dd1324;
}
.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    color: #a67d43;
    padding: 0 25px;
}
.dropdown-contentsmll {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    color: #a67d43;
    padding: 0 10px;
}
.dropdown-btn {
    width: 100%;
    background:linear-gradient(90deg,rgba(191, 15, 30, 1) 0%, rgba(221, 19, 36, 1) 25%, rgba(231, 179, 7, 1) 75%, rgba(255, 195, 0, 1) 100%);
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    padding: 25px 30px;
    cursor: pointer;
    transition: all 0.25s ease;
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.35),inset 0 1px 2px rgba(255,255,255,0.08);
    position: relative;
    overflow: hidden;
}
.dropdown-btnsmll {
    width: 100%;
    background: linear-gradient(135deg, rgba(12,0,19,0.9), rgba(166,125,67,0.9));
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    padding: 25px 30px;
    cursor: pointer;
    transition: all 0.25s ease;
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.35),inset 0 1px 2px rgba(255,255,255,0.08);
    position: relative;
    overflow: hidden;
}

.dropdown-content.active {
    max-height: 300px;
    padding-bottom: 25px;
}
.dropdown-content p {
    line-height: 1.8;
    color: #ffc300;
}
.page-title {
    transform: scale(1.01);	
	color:	#ffc300;
}
.task-container {
	margin-top: 20%;
	position: fixed;
	width: 90%;
	display: flex;
	flex-flow: wrap;
	align-content: flex-start;
	justify-content: space-around;
	
}
.progress-section {
	color:#ffc300;
}
.task-card {
	color:#ffc300;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.task-card h2{
	color:	#dd1324yvv;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.upload-zone input {
    display: none;
}
.upload-zone label {
    cursor: pointer;
    color: black;
    font-weight: 600;
}
.verification {
    margin-top: 25px;
    background: rgba(255,255,255,0.04);
    width: fit-content;
    padding: 12px 20px;
    border-radius: 999px;
    color: #ffc300;
    font-size: 15px;
    border: 3px solid;
    cursor: pointer;
    transition: 0.25s ease;
}
.verification:hover {
    transform: scale(1.05);
    background: rgba(255,255,255,0.08);
}
.verified-success {
    background: #34C759;
    color: white;
    border: 1px solid #34C759;
    box-shadow: 0 0 20px rgba(52,199,89,0.4);
}
.body-checklist {
	margin-left: 2%;
	display: flex;
	flex-flow: column;
	align-content: center;
}
.calendar {
    width: 92%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.day-card {
    background: #bf0f1e;
    border-radius: 25px;
    padding: 25px;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
    transition: 0.25s ease;
    border: 1px solid rgba(255,255,255,0.05);
}
.day-card:hover {
    transform: translateY(-50px);
    box-shadow:
        0 15px 30px rgba(0,0,0,0.4),
        0 0 20px rgba(166,125,67,0.15);
}
.day-card h2 {
    text-align: center;
    color: 	#ffc300;
    margin-bottom: 20px;
}
.event-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}
.event {
    background:linear-gradient(90deg,rgba(191, 15, 30, 1) 0%, rgba(221, 19, 36, 1) 25%, rgba(231, 179, 7, 1) 75%, rgba(255, 195, 0, 1) 100%);
    padding: 14px;
    border-radius: 15px;
    font-weight: 600;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    animation: fadeIn 0.2s ease;
}
textarea {
    flex-grow: 1;
    background:	#e7b307;
    border: none;
    border-radius: 18px;
    padding: 15px;
    color: white;
    resize: none;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
    outline: none;
}
textarea:focus {
    border: 2px solid #a67d43;
}
.add-btn {
    background:linear-gradient(90deg,rgba(191, 15, 30, 1) 0%, rgba(221, 19, 36, 1) 25%, rgba(231, 179, 7, 1) 75%, rgba(255, 195, 0, 1) 100%);;
    border: none;
    border-radius: 15px;
    padding: 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s ease;
    box-shadow: 0 6px 18px rgba(0,0,0,0.3);
}

.add-btn:hover {
    transform: scale(1.05);
    box-shadow:
        0 10px 20px rgba(0,0,0,0.35),
        0 0 20px rgba(173,0,19,0.25);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 1200px) {
    .calendar {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 700px) {

    .calendar {
        grid-template-columns: 1fr;
    }
}
.hidden {
    display: none;
}
.auth-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-card {
    width: 420px;
    background:#bf0f1e;
    padding: 45px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.45);
    border: 1px solid rgba(255,255,255,0.05);
}
.auth-card h1 {
    color: #a67d43;
    text-align: center;
    margin-bottom: 0;
}
.auth-card p {
    text-align: center;
    color: #b3b3b3;
}
.auth-card input,
.auth-card select {
    background: #2c2c2e;
    border: none;
    border-radius: 15px;
    padding: 16px;
    color: white;
    outline: none;
    font-size: 15px;
}
.auth-card input:focus,
.auth-card select:focus {
    border: 2px solid #a67d43;
}
.auth-card button,
.logout-btn {
    background:
        linear-gradient(135deg, #ad0013, #a67d43);
    border: none;
    border-radius: 15px;
    padding: 16px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s ease;
}
.auth-card button:hover,
.logout-btn:hover {
    transform: scale(1.03);
    box-shadow:
        0 0 25px rgba(173,0,19,0.25);
}
.switch-text {
    text-align: center;
    color: #b3b3b3;
}
.switch-text span {
    color: #a67d43;
    cursor: pointer;
    font-weight: bold;
}
.dashboard {
    padding: 30px;
}
.topbar {
    background: rgba(18,19,18,0.95);
    padding: 25px 35px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
}
.topbar h1 {
    margin: 0;
    color: #a67d43;
}

.topbar p {
    color: #b3b3b3;
}
.profile-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #a67d43;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.logout-btn,
.action-btn {
    background: linear-gradient(135deg, #ad0013, #a67d43);
    border: none;
    padding: 14px 20px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
	margin-bottom: 3%;
}
.logout-btn:hover,
.action-btn:hover {
    transform: scale(1.03);
    box-shadow:
        0 0 20px rgba(173,0,19,0.35);
}
.stats-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.stat-card {
	color:#a67d43;
    background: rgba(18,19,18,0.95);
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
}
.stat-card h2 {
    color: #a67d43;
    font-size: 40px;
    margin: 0;
}
.dashboard-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.dashboard-card {
    background: rgba(18,19,18,0.95);
	color:#a67d43;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
}
.dashboard-card h2 {
    color: #a67d43;
}
.task-cardOP1 {
    margin-top: 15px;
    display: flex;
    align-items: center;
	color:#ffc300;
    gap: 10px;
}
.login-box {
    background: #2c2c2e;
    padding: 40px;
	border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
        }
        input {
            padding: 12px;
            border: none;
            border-radius: 10px;
        }
        button {
            padding: 12px;
            border: none;
            border-radius: 10px;
            background: #ad0013;
            color: white;
            cursor: pointer;
        }
.task-containerVopen {
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 5%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.open-checklist {
	display: flex;
	flex-flow: row;
	align-content: space-between;
}
.check-label {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    user-select: none;
}
.task-checkbox {
    display: none;
}
.custom-checkbox {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    border: 2px solid #bbb;
    border-radius: 6px;
    background: white;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: background 0.25s ease, border-color 0.25s ease;
}
.mc-m {
    position: absolute;
    color: #FFC72C;
    font-family: Arial, sans-serif;
    font-weight: 900;
    font-size: 17px;
    opacity: 0;
    transform: scale(.8);
    pointer-events: none;
}
.checkmark {
    position: absolute;
    color: white;
    font-size: 15px;
    font-weight: bold;
    opacity: 0;
    transform: scale(.5);
    pointer-events: none;
}
.task-checkbox:checked + .custom-checkbox {
    background: #2db84d;
    border-color: #2db84d;
}
.task-checkbox:checked + .custom-checkbox .mc-m {
    animation: mPop .25s ease-out forwards;
}
.task-checkbox:checked + .custom-checkbox .checkmark {
    animation: checkPop .15s ease forwards;
    animation-delay: .22s;
}

@keyframes mPop {

    0% {
        transform: scale(.8);
        opacity:0;
    }

    40% {
        transform: scale(2);
        opacity:1;
    }

    100% {
        transform: scale(1);
        opacity:0;
    }
}

@keyframes checkPop {

    from {
        transform: scale(.5);
        opacity:0;
    }

    to {
        transform: scale(1);
        opacity:1;
    }

}
.updatelist {
		color: #ffc300;
	
}